@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

.font_lobster_two {
  font-family: "Lobster Two", system-ui, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
}

body {
  min-width: 320px;
}

.app_wrapper {
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app_header {
  display: flex;
  justify-content: space-between;
}

.app_title {
  font-size: 2em;
  margin-block: 0.25em;
}

.app_nav_list {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  padding: 0;
}

.app_content {
  padding-block-end: 0.5em;
}

button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-inline: 0.25rem;
  border: 1px solid transparent;
  background-color: rgba(128, 128, 128, 0.2);
}

button:enabled:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.4);
}

button:enabled:active {
  transform: scale(0.95);
}

.link {
	text-decoration: none;
	position: relative;
	transition: all 0.2s ease;
}

.link:link,
.link:visited,
.link:hover,
.link:focus,
.link:active {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.38);
}

.link:hover,
.link:focus {
	color: rgba(0, 0, 0, 0.78);
}

.link::after {
	content: '';
	display: inline-block;
	height: 1.5px;
	
	position: absolute;
	left: 0%;
	bottom: -10%;
	background-color: hsl(0, 0%, 50%);
}

.link:hover::after {
	left: 0%;
	animation: Grow 0.2s ease-in 1 forwards;
}

.link:focus::after {
	left: 0%;
	transform: translateX(0%);
	animation: Grow 0.2s ease-in 1 forwards;
}

@keyframes Grow {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
